body {
	width: 90%;
	margin: 100px auto;
	counter-reset: section;
	max-width: 650px;
}

.question {
	margin-bottom: 50px;
}

.question:before {
	counter-increment: section;
	content: counter(section) ". ";
	font-weight: bold;
}

select, input {
	width: 100%;
}